.add-todo-outer {
    background: #1E90FF;
    border-radius: 5px;
    padding: 10px;
    height: 70px;
}

.add-todo-inner1 {
    color: white;
    text-align: center;
    margin-bottom: 11px;
    margin-top: 5px;
}

.add-todo-inner1 h5 {
    margin: 0;
}

.add-todo-inner2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-todo-inner2 .input-container {
    display: flex;
    width: 80%;
}

.add-todo-inner2 input {
    width: 100%;
    border: none;
    border-radius: 3px 0 0 3px;
    height: 25px;
}

.add-todo-inner2 .add-button {
    background-color: #FFFFFF;
    border: none;
    border-radius: 0 3px 3px 0;
    height: 27px;
    cursor: pointer;
    padding: 0 10px;
    font-size: 24px;
    color: #1E90FF;
}