.non-active-todo-outer {
    color: white;
    border-radius: 5px;
}

.non-active-todo-heading {
    background: #3498DB;
    height: 30%;
    text-align: center;
    padding: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.non-active-todo-body {
    background: rgb(255, 255, 255);
    height: 70%;
    min-height: 20rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}

.todo-div {
    height: 30px;
    background: #3498DB;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.todo-text {
    font-size: small;
}